body {
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-style: normal;
}
.container {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    background-color: #7dc1dd;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}
.header-left {
    display: flex;
    background-color: #ffffff;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin: 20px 40px;
    padding: 5px 40px;
    border-radius: 10px;
}