html {
    font-size: 20px;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-style: normal;
}
body{
    width: 800px;
    margin: auto;
}
header {
    background-color: #9ccfe6;
}
header-left {
    background-color: #ffffff;
    border: 5px solid #000000;
}